body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;

  width: 600px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
}
