/* page styling */
body {
  background-color: black;
  color: white;
  margin: 0 auto;
  width: 840px;
  font-family: "Press Start 2P", cursive;
}

/* header styling */
header img {
  height: 100px;
}

header {
  border-bottom: 1px solid white;
}

/* flexing */
.flex {
  display: flex;
}

/* typography */

h1 {
  font-size: 32px;
  line-height: 100px;
  margin-left: 8px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

p,
li {
  line-height: 32px;
}

li {
  list-style: inside;
}

footer p {
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: 8px;
  text-align: center;
}

/* layout */
main {
  padding: 24px;
}

h2 {
  margin-bottom: 12px;
}

ul {
  margin-bottom: 32px;
}

/* "button" styling */
.flex p {
  padding: 10px;
  background-color: lime;
  margin: 32px;
}

.flex p:hover {
  background-color: orange;
  cursor: pointer;
}

span {
  color: yellow;
}
